
.topnav {
    display: flex;
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
  }

/* nav text style */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* link hover color */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* color to active link */
  .topnav a:active {
    background-color: hsl(171, 58%, 19%);
    color: white;
  }


  img {max-width:100%;}

  main {

    margin-top: 5%;
  }
  

  header h1 {
    font-size: 50px;
    font-weight: 600;
    color: #1a362c;
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: 0px 0px 5px #40886c, 0px 0px 5px #40886c, 0px 0px 5px #40886c,
    0px 0px 10px #40886c;
  }

  h2, h3 {
    font-size: 40px;
    font-weight: 600;
    color: #1a362c;
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: 0px 0px 5px #40886c, 0px 0px 5px #40886c, 0px 0px 5px #40886c,
    0px 0px 10px #40886c;
  }

  p {
    display: block;
    margin: auto;
    border-radius: 25px;
    background: #1a362c;
    padding: 20px;
    width: 300px;
    font-size: 30px;
    font: weight 300px;;
    color: #000000;

  }


  #rcorners1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 25px;
    background:  hsl(171, 58%, 19%);
    padding: 20px;
    width: 600px;
    height: 300px;
  }

 
  img {
    border-radius: 8px;
    max-width: 100;
    height: auto;
  }

  body {
    background-color: rgb(102, 102, 102);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
 

  .column-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  
    width: 100%;
    height: 100%;
  
    border-radius: 4px;
    background-color: hsl(171, 58%, 19%);
  }
  
  img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 10%;
  }


  ul {
    list-style: none;
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .image-gallery > li {
    flex-basis: 350px; /*width: 350px;*/
    position: relative;
    cursor: pointer;
  }
  
  .image-gallery::after {
    content: "";
    flex-basis: 350px;
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hover */
  .image-gallery li:hover .overlay {
    transform: scale(1);
  }
  
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
  .about, .work, .contact {
    text-align: center;
  }



